<% if is_logged_in? %>
<h1>Create New Employee</h1>
  <form action='/employees' method="post">
    <label name="name" style="font-weight: bold;">Name: </label>
    <input type="text" name="name"><br><br>

    <label name="wage" style="font-weight: bold;">Wage: </label>
    <input type="text" name="wage"><br><br>

    <label name="hours" style="font-weight: bold;">Hours: </label>
    <input type="text" name="hours">    <br><br>

    <input type="submit" value="Submit" id="submit">
   </form>

  <% else %>
      <h1> You Must Be Logged in to Make Changes </h1>
      <%= redirect "/login" %>
  <% end %>
