<h1>Here is the list of your Employees</h1>

<ol>
<% @employee.each do |emp| %>
  <li>
    <h4>Employee Name: <p style="display: inline; font-weight: normal;"><%= emp.name %></p></h4>
    <h4>Wage: <p style="display: inline; font-weight: normal;"><%= emp.wage %></p></h4>
    <h4>Hours: <p style="display: inline; font-weight: normal;"><%= emp.hours %></p></h4>
    <h4>Manager: <p style="display: inline; font-weight: normal;"><%=emp.user.username%></p></h4>

  </li>
  <br>
<% end %>
</ol>
<a class="submit" href="/employees"><button>Home</button></a>
