<h1>Sign Up Below:</h1>

<form method="POST" action="/signup">
<label for="username">Username: </label>
<input type="text" name="username" id="username" placeholder="Username">
<label for="email">Email: </label>
<input type="text" name="email" id="email" placeholder="Email">
<label for="password">Password: </label>
<input type="password" name="password" id="password" placeholder="Password">
<br><br>
<input type="submit" value="Submit" style="dislpay: inline;">
</form>
