<h1>Welcome to the Payroll System!</h1>
<h4>Sign up or Login below:</h4>
<br>
<a href="/signup"><button>Sign up</button></a>
<a href="/login"><button>Log In</button></a>
<a href="/logout"><button>Log Out</button></a>